<div>
    <input type="text" class="form-control" ng-model="model.arabicLabel" ng-show="selectedLanguage === 'ar'" />
    <input type="text" class="form-control english-input" ng-model="model.englishLabel" ng-show="selectedLanguage === 'en'" />
</div>