<div class="language-selector">
    <button type="button" class="btn btn-circle btn-sm" ng-class="{'red-sunglo': selectedLanguage === 'en', 'green-meadow':selectedLanguage === 'ar'}" ng-click="switchLanguage()">اللغة: {{selectedLanguage === 'en' ? 'الانجليزية':'العربية'}} <i class="fa fa-refresh"></i></button>
</div>