<div>
    <button class="btn btn-default category-selector-btn"><i class="fa fa-map-marker"></i> <span style="color:gray"><span ng-hide="location">اختر مكانا</span><span ng-show="location">{{location.latitude}} ,{{location.longitude}}</span></span> <i class="fa fa-angle-down"></i></button>
</div>