<div>
    <div ng-show="selectedLanguage === 'ar'">
        <summernote height="150" ng-model="model.arabicLabel"></summernote>
    </div>
    <div ng-show="selectedLanguage === 'en'">
        <summernote height="150" ng-model="model.englishLabel"></summernote>
    </div>
</div>