<div>
    <textarea class="form-control place-description" ng-model="model.arabicLabel" ng-show="selectedLanguage === 'ar'"></textarea>
    <textarea class="form-control english-input place-description" ng-model="model.englishLabel" ng-show="selectedLanguage === 'en'"></textarea>
</div>